.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 6 / 6; background-color: black; height: 1320px;}
    .div2 { grid-area: 2 / 1 / 6 / 2; background-color: yellow; width: 150px; height: 1024px;}
    .div3 { grid-area: 1 / 1 / 2 / 6; background-color: khaki;}
    .div5 { grid-area: 3 / 3 / 4 / 4; background-color: turquoise; width: 1150px; height: 300px; text-align: center;}
    .div4 { grid-area: 5 / 1 / 6 / 6;  background-color: blueviolet; height: 200px; margin-bottom: -100px;}
    .div6 { grid-area: 2 / 4 / 3 / 5; background-color: brown; width: 100px; height: 32px;}
.div7 { grid-area: 2 / 5 / 3 / 6; background-color: rgb(133, 73, 1); height: 200px; width: 2300px;}
.div7 { grid-area: 5 / 3 / 6 / 4; background-color: blueviolet;}
.div8 { grid-area: 5 / 4 / 6 / 5; background-color: cornflowerblue;}

 
    