.container {
    display: grid;
    grid-template-columns: 0.5fr repeat(4, 1fr); 
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 15%;
    }
    .div4 { grid-area: 1 / 2 / 2 / 5; 
    background-color: aquamarine;
width: 90%;
margin-left: 20px;} 
    .div1 { grid-area: 1 / 2 / 5 / 5;
        width: 157%; 
    background-color: red;
    margin-left: -40%;
   
    }
    .div2 { grid-area: 4 / 2 / 5 / 5;
    background-color: green; 
    width: 142%;
    margin-left: -25%;
    }
    .div3 { grid-area: 1 / 1 / 5 / 2;
    background-color: yellow; 
height: 1024px;
width: 100%;
margin-left: -149%} 
    .contenedor_formulario{
        display: flex;
        justify-content: left;
        padding: 25%;
        
    }
    .contenedor_texto{
        justify-content: left;
    }
.tabla_margin{
    margin: 20px;
}
.rojo{
    background-color: red;
}
.cerrar_sesion{
    text-align: center;
    background-color: black;
    margin-left: 80%;
    width: 20%;
}
.homescreen_h1{
    color: red;
    text-align: center;
    background-color: khaki;
}
.homescreen_class_flex{
    display: flex;
    justify-content: center;
    margin-left: -100px;
    background-color: black;
}
